# Ignore build artifacts
**/build
**/install
**/log
**/.git
**/.venv
**/venv

# Ignore archived code for demonstrations
**/Archived_for_demo/

# Ignore Python virtual environments
**/src/Archived_for_demo
**/src/microRos
**/src/webUI