# Build artifacts
build/
devel/
install/
logs/
log/

# Catkin workspace files
.catkin_workspace
.catkin_tools/

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor backup files
*~
*.swp

# Python cache
__pycache__/
*.pyc

# IDE settings
**/.vscode/
**/.github
**/.agent*
**/.cursor

*.env

**/.git/

**/dashboard-admin-token.txt
*.cfg